/* THIS STYLING ADOPTS THE MOBILE-FIRST DESIGN*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

@font-face{
  font-family: OpenSans-CondLight;
  src: url(media/OpenSans-CondLight.ttf);
}

html{
  height: 97%;
}

body{
  background: url('media/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: rgba(0,0,0,0.5);*/
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-family: OpenSans-CondLight, Open Sans, "Helvetica", "sans-serif";
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-weight: 400;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

/*******************/
/* NAVIGATION MENU */
/*******************/

header {

  /*border-bottom: 1px solid rgba(0,0,0,.15);*/
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

header nav {

  /*background-color: ;*/
  letter-spacing: 6px;
  display: none;
  flex: 1;
  transform: 300ms all ease;
}

  header nav ul{
    list-style-type: none;
  }

  header nav ul li{
      background-color: rgba( 120, 120, 120, .9);
      position: relative;
      z-index: 1;
    }

      header nav ul li a {
        display: block;
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
        padding: 0.5rem 0;
        text-decoration: none;
        transition: 150ms all ease;


      }

        header nav ul li:hover a{
          font-weight: 400;
          color: rgba(0,0,0,1);
        }

#navToggle {
  text-decoration: none;
  margin: 5px auto 10px auto;
  right: 0;
  top: 0;
  /*z-index: 1;*/
}

  #navToggle a {
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 2.5rem;
    color: rgba(0,0,0,.5);
    transition: 250ms all ease;
    z-index: 1;
  }

    #navToggle:hover a{
      /*text-decoration: bold;*/
      color: rgba(0,0,0,1);
      font-weight: 400;
    }



/*******************/
/*CONTENT STRUCTURE*/
/*******************/

body{
  position: relative;
  padding: 0 0 70px;
  min-height: 100%;
}

main{
  position:absolute;
  width: 100%;
  max-height: 100%;

 /*CENTERS VERTICALLY*/
  transform: translateY(-55%);
  top: 50%;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

/*******************/
/*      LOGO       */
/*******************/

.logo {
  text-align: center;

}

.logo img{
  /*margin: 0 auto 0 auto;*/
  max-width: 100%;
  max-height: 100%;
  /*color: #999999;*/
  z-index: -1;
}

.logo#home > img{
  width: 500px;

}

.logo#about > img{
  width: 400px;
}





/*******************/
/*      ABOUT      */
/*******************/

.about{
  max-width: 740px;
  margin: 50px auto 50px auto;
  padding: 0 45px 0 45px;
}

.about > p{
  text-align: center;
  background-color: rgba( 0, 0, 0, .4);
  color: rgba(255, 255, 255, 1);
  padding: 15px;
  font-size: 12px;
}

.about p a{
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

#signature{
  text-align: center;
  padding: 0;
  margin: auto;
}


/*******************/
/*  CONTACT FORM   */
/*******************/

/*SPAM BOT HONEYPOT TRAP*/
.spmhidip
{
   display:none;
   width:10px;
   height:3px;
}

#contact{
  display: block;

  font: inherit;
  text-transform: uppercase;
}

#contact h1{
  text-align: center;
}

.form{
  max-width: 600px;
  margin: 30px auto 50px auto;
  padding: 10px 45px 10px 45px;
  letter-spacing: 2px;
  background-color: rgba( 0, 0, 0, .4);
  color: #ffffff;
}

.form label{
  display: block;
  margin-top: 10px;
}

.form input, textarea{
  width:100%;
  height: 27px;
  background:#f8f8f8;
  margin-top: 10px;
  padding: 18px 15px 18px 15px;
  font-size: inherit;
  font-style: inherit;
  border: 1px solid #888888;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

  .form input:focus, textarea:focus {
    border:1.5px solid #97d6eb;
  }

.form textarea{
  height: 100px;
  font-style: inherit;
}

.form #submit{
  display: block;
  margin: 30px auto 10px auto;
  width: 100px;
  text-transform: uppercase;
  padding: 5px;
  cursor:pointer;
  transition: 100ms all ease;
}

  #submit:hover {
    background-color: rgba(151, 214, 235, 0.6);
    color:#FFFFFF;
  }

.short_explanation{
  margin: 0px 0 10px;
  padding-top: 20px;
  font-size: 10px;
}

.form .error{
  margin-top: 10px;
  color: #ff0000;
  font-weight: 600;

}

#thankyou #message{
  max-width: 100%;
  width: 400px;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 20px 0;

}

/*******************/
/*  SOCIAL MEDIA   */
/*******************/

.socialIcons{
  text-align: center; /* Centers the icons as a group*/

}

.socialIcons a{
  margin: 5px 20px 5px 20px;

}

.socialIcons a object{
  width: 20px;
  /*box-shadow: 0px 0px 5px #EEEEEE;
  border-radius: 6px;
  background-color: #DDDDDD;*/

}

/*.socialIcons a object:hover{
  opacity: 100%;
}*/

.svg{
  position: relative;
  display: inline-block;

}

.svg:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/* MEDIUM SIZED SCREENS */
@media all and (min-width: 600px){

  #navToggle{
    display: none;
  }

  header nav {
    background-color: transparent;
    display: block;
  }

    header nav ul{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

      header nav ul li{
        background-color: rgba( 0, 0, 0, .3);

      }
        header nav ul li a{
          padding: 0 1.25rem;
        }

  main{
    position:absolute;
    width: 100%;
    max-height: 100%;
    top: 50%;
    transform: translateY(-55%); /*CENTERS VERTICALLY*/
  }
}

/*MAKE BODY RELATIVE IF HEIGHT IS TOO SMALL */
@media all and (max-height: 650px){

  main{
    position: relative;
    /*width: 100%;*/
    /*max-height: 100%;*/
    top:0;
    transform: translateY(0);
  }

}
